doctype html
html(lang='en')
head
title Landing Page
body
h1 the future of something magical
p Lorem ipsum dolor sit amet, dicant tritani persius ex mei. Eam facilis menandri in, mel no autem mazim definitionem, illum fabellas periculis sea eu. Feugiat eleifend necessitatibus no vix, petentium explicari at vim. Vel rebum clita id, ius id timeam recteque. Eam in quas iracundia, sea lucilius patrioque te, usu autem insolens petentium ne.
